# Machine Learning tracking logs
mlruns/

# 1. Ignore everything inside the data directory recursively
data/**/*
data/

# 2. Add explicit exemptions (!) for files we MUST track with Git
!data/**/.gitignore
!*.dvc
!**/*.dvc